
<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title ">
          Emails template
        </h3>
      </div>
      <div>
      </div>
    </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content">
    <!--Begin::Section-->
    <div class="row">
      <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--tab">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
                <h3 class="m-portlet__head-text">
                  <i class="flaticon-edit-1"></i> Edit Email template
                </h3>
              </div>
            </div>
          </div>
          <!--begin::Form-->
          <form class="m-form m-form--state m-form--fit m-form--label-align-right" id="m_form_emailTemplate" action="/emailsTemplate/update?id=<%= emailTemplate.id %>" method="POST">
            <div class="m-portlet__body">
              <div class="m-form__content">
                <div class="m-alert m-alert--icon alert alert-warning m--hide" role="alert" id="m_form_2_msg">
                  <div class="m-alert__icon">
                    <i class="la la-warning"></i>
                  </div>
                  <div class="m-alert__text">
                    Oh snap! Change a few things up and try submitting again.
                  </div>
                  <div class="m-alert__close">
                    <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group">
                <label for="name">
                  Name *
                </label>
                <input class="form-control m-input m-input--air" id="name" name="name" value="<%= emailTemplate.name %>" aria-describedby="fullNameHelp" placeholder="Enter Full Name" type="text">
              </div>

              <div class="form-group m-form__group">
                <label for="category">
                  Category
                </label>
                <select class="form-control m-input m-input--square" id="category" name="category" value="<%= emailTemplate.category %>">
                  <option value="trade">
                    Trade
                  </option>
                  <option value="leadOpportunity">
                    Lead Opportunity
                  </option>
                  <option value="organization">
                    Organization
                  </option>
                  <option value="task">
                    Task
                  </option>
                  <option value="project">
                    Project
                  </option>
                </select>
              </div>
              <div class="form-group m-form__group">
                <label for="description">
                  Description
                </label>
                <textarea class="form-control m-input" id="description" name="description" rows="3" value="<%= emailTemplate.description %>"></textarea>
              </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
              <div class="m-form__actions">
                <button id="save" class="btn btn-brand">
                  Submit
                </button>
                <button type="reset" class="btn btn-secondary">
                  Cancel
                </button>
              </div>
            </div>
          </form>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
    <!--End::Section-->
  </div>
</div>
<div id="gjs" style="height:0px; "></div>



<script>
  var templateEmail="/files/emailsTemplate/<%=emailTemplate.id%>/<%= emailTemplate.path.split("\\").pop() %>";
  var postLink="/emailsTemplate/update?id=<%= emailTemplate.id %>";
</script>


<% block('localStyles', '<link rel="stylesheet" href="/grapesjs/stylesheets/grapes.min51ba.css?v0.14.6">'+
  '<link rel="stylesheet" href="/grapesjs/stylesheets/material.css">'+
  '<link rel="stylesheet" href="/grapesjs/stylesheets/tooltip.css">'+
  '<link rel="stylesheet" href="/grapesjs/stylesheets/toastr.min.css">'+
  '<link rel="stylesheet" href="/grapesjs/stylesheets/grapesjs-preset-newsletterd76f.css?v=0.2.15">'+
  '<link rel="stylesheet" href="/grapesjs/stylesheets/demos.css">'+
  '<link rel="stylesheet" href="/styles/emailsTemplate/edit.css">')%>

<% block('localScripts', '<script src="/grapesjs/feather.aviary.com/imaging/v3/editor.js"></script>'+
  '<script src="/grapesjs/js/grapes.min51ba.js?v0.14.6"></script>'+
  '<script src="/grapesjs/js/ckeditor/ckeditor.js"></script>'+
  '<script src="/grapesjs/js/grapesjs-plugin-ckeditor.min.js"></script>'+
  '<script src="/grapesjs/js/grapesjs-preset-newsletter.mind76f.js?v=0.2.15"></script>'+
  '<script src="/grapesjs/js/grapesjs-aviary.min.js"></script>'+
  '<script src="/grapesjs/js/toastr.min.js"></script>'+
  '<script src="/grapesjs/js/ajaxable.min.js"></script>'+
  '<script src="/js/emailsTemplate/edit.js"></script>'+
  '  <script async type="text/javascript" src="../cdn.carbonads.com/carbondb83.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=grapesjscom" id="_carbonads_js"></script>\n')%>
